<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Successful!</title>
</head>
<body>
	<div align = "center"><h1><span data-th-text = "${name}"/></span></h1></div>
	<div align = "center"><h1>Here's your password!: <span data-th-text = "${password}"></span></h1></div>
	<div align = "center"><p>Please wait a moment while we redirect you back to home</p></div>
</body>

<script data-th-inline="javascript">
/*<!CDATA[*/
window.setTimeout(function(){
	var name = /*[[${name}]]*/ null;
	window.location.href="/";
},3000);
/*]]>*/
</script>
</html>

