<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href = "CSS.css">
<meta charset="ISO-8859-1">
<title>Forget Password</title>
</head>
<body>
	<div align = "center">
	<h1>Forget Password?</h1>
	</div>
	<div class = "center">
	<p>Reset Password via Email</p>
	<form>
		Email Address (Not Implemented)
		<input type = "text">
		<button type = "submit">Send Password Via Email</button>
	</form>
	<p>Reset Password via Security Question</p>
	<form action = "displaySecurityQuestion" method = "get">
		Please enter your UserName <input type = "text" name = "userName">
		<button type = "submit">Submit</button>
	</form>
	</div>
	
</body>
</html>